@import './default.less';

.login {
  .root {
    height: 100vh;
    position: relative;
    width: 100%;
    background: @bg-color;
    -webkit-tap-highlight-color: transparent;
  }
  &-bg {
    background: @login-bg;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: auto;
  }
  &-grid {
    margin: 0 auto;
    max-width: 1280px;
    background: @bg-color;
    box-sizing: border-box;
    display: flex;
    height: auto;
    min-height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  &-item {
    align-items: center;
  }
  &-form {
    background: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 24px 0 40px 0;
    position: relative;
  }
}

.context-header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  &-icon {
    display: inline-block;
    widows: 18px;
    height: 18px;
    margin-right: 8px;
    background: @bg-color;
    mask: url(../images/svg/login.svg) no-repeat 50% 50%;
  }
  &-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #505050;
    margin: 0;
  }
}

.context-copy {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
  margin: 0;
}

.text {
  &-header {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.3;
    font-style: normal;
    letter-spacing: 0;
    text-transform: none;
    color: #323232;
    margin: 0 0 1em;
  }
  &-email {
    color: #505050;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin: 8px 0 0;
  }
  &-link {
    color: #1473e6;
  }
}

@media screen and (max-width: @screen-md) {
  .login-context {
    display: none;
  }
}

@media screen and (min-width: @screen-md) {
  .login {
    .root {
      background: #f4f4f4 url(../images/bg.jpeg) no-repeat center / cover;
    }
    &-grid {
      background: none;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
    &-form {
      box-sizing: border-box;
      min-height: 50%;
      padding: 24px 56px 56px;
    }
  }
}

@media screen and (min-width: @screen-xl) {
  .login {
    &-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 95vh;
      width: calc(@screen-xl * .4);
    }
    .context {
      align-self: center;
    }
    &-form {
      width: 40%;
      padding: 56px 56px 65px;
    }
  }
  .context-header-icon {
    width: 40px;
    height: 40px;
    margin-right: 16px;
  }
  .context-header-title {
    font-size: 36px;
    line-height: 47px;
    font-weight: 400;
    color: #f4f4f4;
  }
  .context-copy {
    font-size: 20px;
    font-weight: 300;
    color: #f4f4f4;
  }
}